/* Font */
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap'); /* 'Hachi Maru Pop', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap'); /* 'Permanent Marker', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap'); /* 'Fredoka One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@200&display=swap'); /* 'Spartan', sans-serif; */

/* =================================================================================================================================== */
body{
    background-color: #18181c;
    height: 100%;
    margin: 0;
}
*{
    box-sizing: border-box;
}
/* Css Start */
#card
{
    padding: 7px;
    margin: 15px;
    overflow: hidden;
}
#card > #card-kadirfi
{
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.5);
    background: ghostwhite;
    width: 960px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 1.5px red;
    overflow: hidden;
}
#card > #card-kadirfi > #kadirfi > img
{
    border-radius: 0px;
    height: auto;
}
#card > #card-kadirfi > #kadirfi > h1
{
    font-family: 'Spartan', sans-serif;
    font-weight: bolder;
    color: #333;
    position: relative;
    left: 15px;
}
#card > #card-kadirfi > #kadirfi > p
{
    font-family: 'Spartan', sans-serif;
    font-weight: bolder;
    color: #333;
    position: relative;
    left: 15px;
}
#card > #card-kadirfi > #kadirfi > a > i
{
    font-size: x-large;
    position: relative;
    left: 12px;
    color: #333;
    text-decoration: none;
    margin: 5px;
    transition: 250ms linear all;
}
#card > #card-kadirfi > #kadirfi > a > i:hover
{
    color: #777;
}

/* Responsive */

@media screen and (max-width: 700px)
{
    #card > #card-kadirfi
    {
        width: auto;
        height: 650;
    }
    #card > #card-kadirfi > #kadirfi h1
    {
        position: relative;
        top: 15px;
        left: 10px;
    }
    #card > #card-kadirfi > #kadirfi p
    {
        position: relative;
        top: 15px;
        left: 10px;
    }
    #card > #card-kadirfi > #kadirfi > a > i
    {
        position: relative;
        top: 15px;
        left: 8px;
    }
    #card > #card-kadirfi > #kadirfi-profile-photo
    {
        width: 100%;
    }
}
